[Unit]
Description=Telemt
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/etc/telemt
ExecStart=/bin/telemt /etc/telemt.toml
Restart=on-failure
LimitNOFILE=262144
TasksMax=8192
MemoryAccounting=yes

[Install]
WantedBy=multi-user.target
